.about-section {
  padding: 40px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: left;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.about-section h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.about-section p {
  margin-bottom: 15px;
  color: #555;
  font-size: 16px;
}

.about-section ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px 0;
}

.about-section li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  font-size: 16px;
  color: #555;
}

.about-section li::before {
  content: '✔️';
  position: absolute;
  left: 0;
  color: black;
}

